@layer utilities {
    .text-clifford {
      color: #da373d;
    }
  }
  
  #mobileMenu {
    transition: transform 0.3s ease-in-out;
  }
  
  .translate-x-full {
    transform: translateX(100%);
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 40;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .overlay.visible {
    display: block;
    opacity: 1;
  }
  